@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Blogs" asp-action="Create">Create Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Blogs" asp-action="MyBlog">My Blogs</a>
    </li>
    <li class="nav-item  d-flex gap-2">
        <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
            @Html.AntiForgeryToken()
            <button type="submit" class="nav-link btn btn-warning text-white rounded-3" >Logout</button>
        </form>
        <a class="nav-link btn btn-info text-white rounded-3">@User.Identity.Name</a>
    </li>
}
else
{
    <li class="nav-item  d-flex gap-2">
        <a class="nav-link btn btn-warning text-white rounded-3" asp-controller="Account" asp-action="Login">Login</a>
        <a class="nav-link btn btn-info text-white rounded-3" asp-controller="Account" asp-action="Register">Register</a>
    </li>
}